.top-bar {
	background: var(--top-bar-bg-colour);
	box-shadow: 0px 0px 8px 2px var(--top-bar-bg-colour);
	color: var(--top-bar-text-colour);

	input[type="checkbox"] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	label {
		padding-top: 0.8rem;
		min-height:3rem;
		display: none;
		cursor: pointer;
		user-select: none;
	}
	h1 {
		margin: 0;
		position:absolute;
		a, a:hover {
			font-size: 1.4rem;
			color: var(--top-bar-text-colour);
			text-decoration: none;
		}
		img {
			height: 3rem;
			margin-top: 0.5rem;
			margin-bottom: -1rem;
			width: auto;
			margin-right: 0.5rem;
		}
	}

	/* custom-dropdown */
	nav {
		a,
		label {
			color: var(--top-bar-text-colour);
			text-decoration: none;
			font-size: 1rem;
			transition: color 0.3s ease-in-out;
		}

		ul {
			padding: 0;
			margin: 0 0 0 auto;
			height: 4rem;
			width: 100%;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: stretch;
			background: var(--top-bar-bg-colour);

			> li {
				padding: 1rem 1rem;
				transition-duration: 0.3s;
				transition-timing-function: ease-in-out;
				transition-property: background-color, color;
				
				cursor: pointer;

				&:hover, &.active {
					background-color: var(--nav-hover-bg-colour);
					color: var(--top-bar-text-colour);
					> a {
						color: var(--top-bar-text-colour);
					}
				}
			}
		}
	}
}
/* small screens */
@media screen and (max-width: 50em) {
	.top-bar {
		nav {
			ul {
				display: none;
				height: 100%;
			}

			label {
				position: relative;
				display: block;
				min-height: 3rem;
				padding: 0.45rem;
				font-size: 1rem;
				line-height: 2rem;
				text-align:right;
				padding-right:2rem;
				margin: 0;
			}

			label:after {
				position: absolute;
				right: 0.25rem;
				top: .25rem;
				content: "\2261";
				font-size: 2rem;
			}

			input[type="checkbox"]:checked ~ label:after {
				content: "\2715";
				font-size: 1.5rem;
			}

			input[type="checkbox"]:checked ~ ul {
				display: block;

				> li {
					width: 100%;
					opacity: 0.8;
					text-align: left;
					a {
						display:block;
					}

					&:before {
						position: absolute;
						right: 0.25em;
						content: "\203A";
						font: bold 1.4em sans-serif;
					}
				}
			}
		}
	}
}
.page-nav {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	gap: 10rem;
	align-items: center;
	margin: 2rem 0;
	a {
		flex: 1;
		color: var(--link-colour);
		text-decoration:none;
		padding: 0.5rem 1rem;
		background: var(--pagination-bg-color);
		color: var(--pagination-color);
		border-radius: 4px;
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
		&.page-nav--prev {
			text-align: left;
		}
		&.page-nav--next {
			text-align: right;
		}

		&:hover:not(.disabled) {
			background-color: var(--pagination-bg-color-hover);
			color: var(--pagination-color-hover);
		}

		&.disabled {
			background-color: var(--pagination-bg-color-disabled);
			color: var(--pagination-color-disabled);
			cursor: not-allowed;
		}
	}
}
@media screen and (max-width: 50em) {
	.page-nav {
		flex-direction: column;
		gap: 1rem;
		a {
			width: 80%;
			margin: 0 auto;
			&.page-nav--prev, &.page-nav--next {
				text-align: center;
			}
		}
	}
}
