html, body {
    height: 100%;
}
body {
    display:flex;
    flex-direction: column;
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 10000;
    .top-bar-container {
        position:relative;
		max-width: calc(var(--max-content-width) + 2rem);
		margin: 0 auto;
	}

}
main {
    padding-top: 5rem;
	width: 100%;
    flex: 1 0 auto;
    .container {
        padding: 0 1rem;
        max-width: var(--max-content-width);
        margin: 0 auto;
    }
}
footer {
	width: 100%;
    flex-shrink: 0;
    .container {
        max-width: var(--max-content-width);
	    margin: 0 auto;
    }
}
