@charset "UTF-8";
:where(body) {
  --background-color: #fff;
  --text-color: #222;
  --link-colour: #15570c;
  --hover-colour: #1c7e10;
  --top-bar-bg-colour: #333;
  --top-bar-border: #1a1a1a;
  --top-bar-text-colour: #fff;
  --footer-bg-colour: #333;
  --footer-text-colour: #fff;
  --event-border-color: #15570c;
  --posts-list-background: rgba(58, 170, 47, 0.07);
  --max-content-width: 62rem;
  --nav-hover-bg-colour: rgba(0, 0, 0, 0.25);
  --pagination-bg-color: #15570c;
  --pagination-bg-color-hover: #333;
  --pagination-bg-color-disabled: #555;
  --pagination-color: #fff;
  --pagination-color-hover: #fff;
  --pagination-color-disabled: #ccc;
  --blockquote-border-colour: rgba(58, 170, 47, 0.1);
  --snippet-border-color: #1c7e10;
  --stripe-bg: #e4e4e4;
  --stripe-color: #000;
  --stripe-bg-odd: #fff;
  --stripe-color-odd: #111;
  --th-bg: #808080;
  --th-color: #fff;
  --table-border: #1c7e10;
  --border-radius: .35rem;
}

@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: #222;
    --text-color: #fff;
    --link-colour: #a3ff91;
    --stripe-bg: #222;
    --stripe-color: #fff;
    --stripe-bg-odd: #333;
    --stripe-color-odd: #fff;
    --th-bg: #111;
    --th-color: #fff;
    --table-border: #555;
  }
}
:where(body.dark) {
  --background-color: #222;
  --text-color: #fff;
  --link-colour: #a3ff91;
  --stripe-bg: #222;
  --stripe-color: #fff;
  --stripe-bg-odd: #333;
  --stripe-color-odd: #fff;
  --th-bg: #111;
  --th-color: #fff;
  --table-border: #555;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  line-height: 150%;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * baseline styles
 */
body {
  font-size: 100%;
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  position: relative;
}

a {
  color: var(--link-colour);
}
a:hover, a:active {
  color: var(--hover-colour);
}

/**
 * content container
 */
.container {
  padding: 0 2rem;
}

/**
 * tables
 */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
  border-spacing: 0;
  border: 1px solid var(--table-border);
}
table th, table td {
  border: 1px solid var(--table-border);
  padding: 0.5rem;
}
table.sticky thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
table tbody tr {
  background-color: var(--stripe-bg);
  color: var(--stripe-color);
}
table tbody tr:nth-child(odd) {
  background-color: var(--stripe-bg-odd);
  color: var(--stripe-color-odd);
}
table thead th {
  background: var(--th-bg);
  color: var(--th-color);
  font-weight: normal;
  text-align: left;
  text-transform: capitalize;
  vertical-align: baseline;
  white-space: nowrap;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 10000;
}
.top-bar .top-bar-container {
  position: relative;
  max-width: calc(var(--max-content-width) + 2rem);
  margin: 0 auto;
}

main {
  padding-top: 5rem;
  width: 100%;
  flex: 1 0 auto;
}
main .container {
  padding: 0 1rem;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

footer {
  width: 100%;
  flex-shrink: 0;
}
footer .container {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/OpenSans.woff") format("woff"), url("../font/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
blockquote {
  border-left: 1rem solid var(--blockquote-border-colour);
  margin-left: 0;
  margin-right: 0;
  padding-left: 1rem;
  color: var(--blockquote-text-colour);
  font-style: italic;
}
blockquote cite {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  font-style: normal;
  text-align: right;
}

.snippet {
  border: 1px solid var(--snippet-border-color);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1em auto;
}

.top-bar {
  background: var(--top-bar-bg-colour);
  box-shadow: 0px 0px 8px 2px var(--top-bar-bg-colour);
  color: var(--top-bar-text-colour);
}
.top-bar input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.top-bar label {
  padding-top: 0.8rem;
  min-height: 3rem;
  display: none;
  cursor: pointer;
  user-select: none;
}
.top-bar h1 {
  margin: 0;
  position: absolute;
}
.top-bar h1 a, .top-bar h1 a:hover {
  font-size: 1.4rem;
  color: var(--top-bar-text-colour);
  text-decoration: none;
}
.top-bar h1 img {
  height: 3rem;
  margin-top: 0.5rem;
  margin-bottom: -1rem;
  width: auto;
  margin-right: 0.5rem;
}
.top-bar {
  /* custom-dropdown */
}
.top-bar nav a,
.top-bar nav label {
  color: var(--top-bar-text-colour);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}
.top-bar nav ul {
  padding: 0;
  margin: 0 0 0 auto;
  height: 4rem;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  background: var(--top-bar-bg-colour);
}
.top-bar nav ul > li {
  padding: 1rem 1rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  cursor: pointer;
}
.top-bar nav ul > li:hover, .top-bar nav ul > li.active {
  background-color: var(--nav-hover-bg-colour);
  color: var(--top-bar-text-colour);
}
.top-bar nav ul > li:hover > a, .top-bar nav ul > li.active > a {
  color: var(--top-bar-text-colour);
}

/* small screens */
@media screen and (max-width: 50em) {
  .top-bar nav ul {
    display: none;
    height: 100%;
  }
  .top-bar nav label {
    position: relative;
    display: block;
    min-height: 3rem;
    padding: 0.45rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: right;
    padding-right: 2rem;
    margin: 0;
  }
  .top-bar nav label:after {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    content: "≡";
    font-size: 2rem;
  }
  .top-bar nav input[type=checkbox]:checked ~ label:after {
    content: "✕";
    font-size: 1.5rem;
  }
  .top-bar nav input[type=checkbox]:checked ~ ul {
    display: block;
  }
  .top-bar nav input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: 0.8;
    text-align: left;
  }
  .top-bar nav input[type=checkbox]:checked ~ ul > li a {
    display: block;
  }
  .top-bar nav input[type=checkbox]:checked ~ ul > li:before {
    position: absolute;
    right: 0.25em;
    content: "›";
    font: bold 1.4em sans-serif;
  }
}
.page-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
  margin: 2rem 0;
}
.page-nav a {
  flex: 1;
  color: var(--link-colour);
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: var(--pagination-bg-color);
  color: var(--pagination-color);
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.page-nav a.page-nav--prev {
  text-align: left;
}
.page-nav a.page-nav--next {
  text-align: right;
}
.page-nav a:hover:not(.disabled) {
  background-color: var(--pagination-bg-color-hover);
  color: var(--pagination-color-hover);
}
.page-nav a.disabled {
  background-color: var(--pagination-bg-color-disabled);
  color: var(--pagination-color-disabled);
  cursor: not-allowed;
}

@media screen and (max-width: 50em) {
  .page-nav {
    flex-direction: column;
    gap: 1rem;
  }
  .page-nav a {
    width: 80%;
    margin: 0 auto;
  }
  .page-nav a.page-nav--prev, .page-nav a.page-nav--next {
    text-align: center;
  }
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer {
  background: var(--footer-bg-colour);
  color: var(--footer-text-colour);
}
footer nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
footer nav ul a {
  display: inline-block;
  padding: 0.5rem;
  color: var(--footer-text-colour);
  text-decoration: none;
}
footer nav ul a:hover, footer nav ul a.active {
  color: var(--footer-text-colour);
  background: var(--nav-hover-bg-colour);
}
footer div.social a {
  text-decoration: none;
  margin-left: 1rem;
}
footer div.social a svg {
  height: 1.5rem;
  width: auto;
  fill: var(--footer-text-colour);
}

article.post-list-item {
  background: var(--posts-list-background);
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  border: 1px solid var(--event-border-color);
  border-radius: 1rem;
}
article.post-list-item figure {
  flex: 1 1 6rem;
}
article.post-list-item figure img {
  width: 100%;
  height: auto;
}
article.post-list-item .post-list-item-content {
  flex: 2.5;
}

@media screen and (max-width: 40em) {
  article.post-list-item {
    flex-direction: column;
  }
  article.post-list-item figure {
    flex: 1 1 auto;
  }
  article.post-list-item .post-list-item-content {
    flex: 1 1 auto;
    padding: 0 2em;
  }
}
.home article figure.featuredimage {
  margin: 1rem 0 1rem 0;
  width: 55%;
  float: left;
}
.home article figure.featuredimage img {
  width: 100%;
  height: auto;
}
.home article div.featuredcontent {
  width: 40%;
  float: right;
}
@media screen and (max-width: 40rem) {
  .home article figure.featuredimage {
    float: none;
    width: 100%;
  }
  .home article div.featuredcontent {
    width: 100%;
    float: none;
  }
}
.home article:after {
  content: "";
  display: table;
  clear: both;
}

header figure.featuredimage {
  margin: 0 0 1rem 0;
  max-width: 100%;
}
header figure.featuredimage img {
  width: 100%;
  height: auto;
}

.snippet figure {
  margin: 0 0 1rem 1rem;
  max-width: 50%;
  float: left;
}
.snippet:after {
  content: "";
  display: table;
  clear: both;
}

#map {
  width: 100%;
  height: 50rem;
  margin-bottom: 1.5rem;
}

.sortable thead th:not(.no-sort) {
  cursor: pointer;
}

.sortable thead th:not(.no-sort)::after, .sortable thead th:not(.no-sort)::before {
  transition: color 0.1s ease-in-out;
  font-size: 1.2em;
  color: transparent;
}

.sortable thead th:not(.no-sort)::after {
  margin-left: 3px;
  content: "▸";
}

.sortable thead th:not(.no-sort):hover::after {
  color: inherit;
}

.sortable thead th:not(.no-sort)[aria-sort=descending]::after {
  color: inherit;
  content: "▾";
}

.sortable thead th:not(.no-sort)[aria-sort=ascending]::after {
  color: inherit;
  content: "▴";
}

.sortable thead th:not(.no-sort).indicator-left::after {
  content: "";
}

.sortable thead th:not(.no-sort).indicator-left::before {
  margin-right: 3px;
  content: "▸";
}

.sortable thead th:not(.no-sort).indicator-left:hover::before {
  color: inherit;
}

.sortable thead th:not(.no-sort).indicator-left[aria-sort=descending]::before {
  color: inherit;
  content: "▾";
}

.sortable thead th:not(.no-sort).indicator-left[aria-sort=ascending]::before {
  color: inherit;
  content: "▴";
}