
        <header class="top-bar">
            <div class="top-bar-container">
                <h1 class="site-title"><a href="/"><img src="https://friendsofcoldenclough.org.uk/assets/logo/fofcc.png" alt="Friends of Colden Clough"><span class="site-title-text">Friends of Colden Clough</span></a></h1>
                <nav>
                    <input type="checkbox" id="button">
                    <label for="button" onclick>Menu</label>
                    <ul>
                        <li{% if page.permalink == '/' %} class="active"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li{% if page.section == 'events' %} class="active"{% endif %}>
                            <a href="/events/">Events</a>
                        </li>
                        <li{% if page.section == 'nature' %} class="active"{% endif %}>
                            <a href="/nature/">Nature</a>
                        </li>
                        <li{% if page.section == 'history' %} class="active"{% endif %}>
                            <a href="/history/">History</a>
                        </li>
                        <li{% if page.section == 'about' %} class="active"{% endif %}>
                            <a href="/about/">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

